<!DOCTYPE html>
<html>
<body>

<h2>Send e-mail to someone@example.com:</h2>

<form method="POST" name="contactform" action="\..\generateOrder">
    <p>
        <label for='name'>Your Name:</label> <br>
        <input type="text" name="name">
        </p>
        <p>
        <label for='message'>Message:</label> <br>
        <textarea name="message"></textarea>
        </p>
        <input type="submit" value="Submit"><br>
        </form>
        

</form>

</body>
</html>
